/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

/* 移动端不启用该效果 */
@media (min-width: 768px) {

  /* 博客两边留出空白 */
  #wrapper {
    width: 80%;
    margin: 0 auto; 
  }

}
